<%- include('../partials/header', {title: 'SSY Portal | Register', script: '/js/registerScript.js'}) %> 

<%- include('../partials/navbar') %>

<div class="progress-bar">
    <h1 class="ma-0">Become a Member</h1>
    <div>
        <div id="stage-one-circle" class="circle active">1</div>
        <div class="rectangle"></div>
        <div id="stage-two-circle" class="circle">2</div>
        <div class="rectangle"></div>
        <div id="stage-three-circle" class="circle">3</div>
        <div class="rectangle"></div>
        <div id="stage-four-circle" class="circle">4</div>
    </div>
</div>

<div id="error-alert" class="error-alert">
    <i class="fa-solid fa-circle-xmark fa-2xl"></i>
    <h2 id="error-alert-message" class="ma-0"></h2>
</div>

<div class="container">
    <div class="tab">
        <h1 class="ma-0">select your membership type</h1>
        <div class="memberships">
            <div class="option supporter">
                <div>
                    <h1 class="ma-0">supporter</h1>
                    <img src="/imgs/organiser-member-icon.png" alt="scottish socialist youth supporter membership" />
                    <p class="fw-500 ma-0">Description of supporter membership</p>
                </div>
                <div id="supporter" class="checkbox membership-checkbox">
                    <i class="fa-solid fa-circle-check fa-2xl"></i>
                </div>
            </div>

            <div class="option general">
                <div>
                    <h1 class="ma-0">general</h1>
                    <img src="/imgs/organiser-member-icon.png" alt="scottish socialist youth general membership" />
                    <p class="fw-500 ma-0">
                        General members strengthen the SSY by supporting us financially, sharing our ideas to reach new people, and attending rallies,
                        events and protests. Each act, big or small, enriches our network and extends our reach.
                    </p>
                </div>
                <div id="general" class="checkbox membership-checkbox">
                    <i class="fa-solid fa-circle-check fa-2xl"></i>
                </div>
            </div>

            <div class="option organiser">
                <div>
                    <h1 class="ma-0">organiser</h1>
                    <img src="/imgs/organiser-member-icon.png" alt="scottish socialist youth general membership" />
                    <p class="fw-500 ma-0">
                        Organising members lead the charge by building the presence of the socialist youth movement in communities across the country.
                        Organisers lead our efforts towards building a socialist country by creating activist groups, forming community campaigns, and
                        by deciding the leadership and direction of the organisation.
                    </p>
                </div>
                <div id="organiser" class="checkbox membership-checkbox">
                    <i class="fa-solid fa-circle-check fa-2xl"></i>
                </div>
            </div>
        </div>

        <div id="induction-options" class="induction">
            <p class="ma-0 fw-500">
                An SSY membership officer will be in touch to set up an orientation and induction meeting with you. Would you prefer to meet us in
                person or over virtual meeting? (if virtual meeting, please provide a reason.)
            </p>
            <div class="induction-options">
                <div class="induction-option">
                    <h2 class="ma-0">in person</h2>
                    <div id="physical" class="checkbox membership-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>

                <div class="induction-option">
                    <h2 class="ma-0">virtual</h2>
                    <div id="virtual" class="checkbox membership-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab">
        <div class="user-container">
            <h1 class="ma-0">identity*</h1>
            <hr class="ma-0" />
            <div class="user-info">
                <div>
                    <h2 class="ma-0">first name</h2>
                    <input class="identity-input" type="text" name="firstName" id="registerFirstName" required />
                </div>
                <div>
                    <h2 class="ma-0">last name</h2>
                    <input class="identity-input" type="text" name="lastName" id="regiserLastName" required />
                </div>
                <div>
                    <h2 class="ma-0">preferred pronouns</h2>
                    <input class="identity-input" type="text" name="pronouns" id="registerPronouns" required />
                </div>
                <div>
                    <h2 class="ma-0">date of birth</h2>
                    <input class="identity-input" type="date" name="dateOfBirth" id="registerDOB" required />
                </div>
            </div>
        </div>

        <div class="user-container">
            <h1 class="ma-0">contact details*</h1>
            <hr class="ma-0" />
            <div class="user-info">
                <div>
                    <h2 class="ma-0">email</h2>
                    <input class="identity-input" type="email" name="email" id="registerEmail" required />
                </div>
                <div>
                    <h2 class="ma-0">phone number</h2>
                    <input class="identity-input" type="text" name="phone" id="registerPhone" required />
                </div>
            </div>
        </div>

        <div class="user-container">
            <h1 class="ma-0">password*</h1>
            <hr class="ma-0" />
            <div class="user-info">
                <div>
                    <h2 class="ma-0">password</h2>
                    <input class="identity-input" type="password" name="password" id="registerPassword" required />
                </div>
                <div>
                    <h2 class="ma-0">confirm password</h2>
                    <input class="identity-input" type="password" name="passwordConfirmation" id="registerPasswordConfirm" required />
                </div>
            </div>
            <ul class="password-information">
                <p class="ma-0">Passwords must meet the following:</p>
                <li>At least 8 characters long</li>
                <li>Minimum 1 lowercase and 1 uppercase character</li>
                <li>Minimum 1 number</li>
                <li>Minimum 1 symbol (e.g. @,#)</li>
            </ul>
        </div>

        <div class="user-container">
            <h1 class="ma-0">where you're based*</h1>
            <hr class="ma-0" />
            <div class="user-info">
                <div>
                    <h2 class="ma-0">city / town / neighbourhood</h2>
                    <input
                        class="identity-input"
                        type="text"
                        name="city"
                        id="registerArea"
                        placeholder="e.g. Dalmeny, Stirling, Govanhill"
                        required
                    />
                </div>
                <div>
                    <h2 class="ma-0">council area</h2>
                    <select class="identity-input" name="councilArea" id="registerCouncil" required>
                        <option value="" disabled selected>Please Select...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="user-container">
            <h1 class="ma-0">tick any that apply</h1>
            <hr class="ma-0" />
            <div class="user-optional">
                <div class="user-option">
                    <h2 class="ma-0">i am currently attending high school</h2>
                    <div id="high-school" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
                <div class="user-option">
                    <h2 class="ma-0">i am a college / uni student</h2>
                    <div id="college" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
                <div class="user-option">
                    <h2 class="ma-0">i am currently based outside scotland</h2>
                    <div id="outside-scotland" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-container">
            <h1 class="ma-0">do you have any external memberships?</h1>
            <hr class="ma-0" />
            <div class="user-optional">
                <div class="user-option">
                    <h2 class="ma-0">
                        trade <br />
                        union
                    </h2>
                    <div id="trade-union" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
                <div class="user-option">
                    <h2 class="ma-0">
                        tenants' <br />
                        union
                    </h2>
                    <div id="tenants-union" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
                <div class="user-option">
                    <h2 class="ma-0">
                        political <br />
                        party
                    </h2>
                    <div id="political-party" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
                <div class="user-option">
                    <h2 class="ma-0">
                        campaigning <br />
                        organisation
                    </h2>
                    <div id="campaigning-organisation" class="checkbox identity-checkbox">
                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                    </div>
                </div>
            </div>
            <div class="ext-memberships">
                <div id="trade-union-input">
                    <h2 class="ma-0">which trade union are you a part of?</h2>
                    <input class="identity-input" type="text" name="tradeUnion" id="registerTradeUnion" />
                </div>
                <div id="tenants-union-input">
                    <h2 class="ma-0">which tenants' union are you a part of?</h2>
                    <input class="identity-input" type="text" name="tenantsUnion" id="registerTenantsUnion" />
                </div>
                <div id="political-party-input">
                    <h2 class="ma-0">which political party are you a part of?</h2>
                    <input class="identity-input" type="text" name="politicalParty" id="registerPoliticalParty" />
                </div>
                <div id="campaigning-organisation-input">
                    <h2 class="ma-0">which campaigning organisation are you a part of?</h2>
                    <input class="identity-input" type="text" name="campaigningOrganisation" id="registerCampOrg" />
                </div>
            </div>
        </div>
    </div>

    <div class="tab">
        <div class="user-container">
            <h1 class="ma-0">your skills</h1>
            <hr class="ma-0" />
            <h2 class="ma-0">do you have any skills that could support the SSY?</h2>
            <div id="skills" class="skills"></div>
            <div class="additional-skills">
                <input type="text" name="addSkill" id="addSkill" placeholder="Add new skill..." />
                <button id="addSkillBtn" class="add-btn" type="button">add skill</button>
            </div>
        </div>

        <div class="user-container">
            <h1 class="ma-0">your interests</h1>
            <hr class="ma-0" />
            <h2 class="ma-0">which activities would you most like to be involved in?</h2>
            <div id="interests" class="interests"></div>
            <div class="additional-skills">
                <input type="text" name="addInterest" id="addInterest" placeholder="Add interest not listed..." />
                <button id="addInterestBtn" class="add-btn" type="button">add interest</button>
            </div>
        </div>
    </div>

    <div class="tab">
        <div class="user-container">
            <h1 class="ma-0">members' agreement</h1>
            <hr class="ma-0" />
            <div class="agreement-container">
                <div class="agreement-section">
                    <h2 class="ma-0">
                        every ssy member must read and agree to the following
                        <a href="https://www.scottishsocialistyouth.net/wp-content/uploads/2023/06/SSY-Members-Policy-2023.pdf" target="_blank">
                            ssy members policy</a
                        >
                        AND OUR
                        <a href="https://www.scottishsocialistyouth.net/our-ideas/#principles" target="_blank">6 core principles.</a>
                    </h2>
                    <div class="agreement-check">
                        <div id="agreement" class="checkbox">
                            <i class="fa-solid fa-circle-check fa-2xl"></i>
                        </div>
                        <h2 class="ma-0">i have read and agree to both</h2>
                    </div>
                </div>
                <div class="agreement-section">
                    <h2 class="ma-0">
                        to safeguard our members, we deny entry to anybody who serves under his majesty's armed forces or to any police or prison
                        authority.
                    </h2>
                    <div class="agreement-check">
                        <div id="serve" class="checkbox">
                            <i class="fa-solid fa-circle-check fa-2xl"></i>
                        </div>
                        <h2 class="ma-0">i confirm i do not serve</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-buttons">
        <button id="backBtn" class="back-btn" type="button">back</button>
        <button id="nextBtn" class="success-btn" type="button">next</button>
    </div>
</div>

<%- include('../partials/footer') %>
