<div class="banner">
    <div id="my-details">
        <i class="fa-solid fa-user fa-2xl"></i>
        <h2 class="ma-0 fw-500">my details</h2>
    </div>
    <!-- <div id="my-membership">
        <i class="fa-solid fa-id-card fa-2xl"></i>
        <h2 class="ma-0 fw-500">my membership</h2>
    </div>
    <div id="vote">
        <i class="fa-solid fa-check-to-slot fa-2xl"></i>
        <h2 class="ma-0 fw-500">vote</h2>
    </div>
    <div id="admin">
        <i class="fa-solid fa-gear fa-2xl"></i>
        <h2 class="ma-0 fw-500">admin</h2> -->
    </div>
</div>