<footer>
  <div>
    <a href="https://www.instagram.com/scottishsocialistyouth/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
    <a href="https://x.com/SSYnetwork/"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
    <a href="https://www.tiktok.com/@ssynetwork/"><i class="fa-brands fa-tiktok fa-2xl"></i></a>
  </div>
  <a href="http://ssy.scot/"><img src="/imgs/ssy-text-logo.png" alt="scottish soccialist youth logo" /></a>
  <div class="footer-links">
    <a href="/member/account">Home</a>
    <a href="http://ssy.scot/">SSY Website</a>
    <a>Sign Out</a>
  </div>
</footer>

</body>
</html>