<nav>
    <div>
        <a href="/member/account"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="http://ssy.scot/"><i class="fa-solid fa-arrow-up-right-from-square fa-2xl"></i></a>
    </div>
    <h1 cl class="ma-0"><a class="fw-900" href="/member/account">Scottish Socialist Youth</a></h1>
    <div id="logout">
        <i id="logout-svg" class="fa-solid fa-arrow-right-from-bracket fa-2xl"></i>
    </div>
</nav>
